$color1: #062226;
$color2: #11535f;
$color3: #36858a;
$color4: #4fbdba;
$color5: #aefeff;
$color6: #edffff;

ion-header {
  ion-toolbar {
    padding: 0 1rem;
  }
  a {
    font-size: 2rem;
    color: #11535f;
  }
}

ion-content {
  --background: #4fbdba;
}

.drug-body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 10px;
  background: $color3;
  padding: 1rem;

  .drug-header {
    text-align: center;

    h1 {
      font-weight: bold;
      color: $color6;
    }
  }

  .drug-list {
    padding: 1rem;

    ion-list {
      background: none;

      ion-item {
        --border-radius: 10px;
        --color: #11535f;
        --color-hover: #edffff;
        --background-hover: #4fbdba;
        --background-hover-opacity: 1;

        ion-label {
          font-weight: normal;
          white-space: normal;
        }
      }
    }
  }
}

ion-footer {
  ion-toolbar {
    ion-col {
      text-align: center;
      ion-button {
        --background: #36858a;
        --color: #ffffff;
      }
    }
  }
}

ion-modal {
  .modal-header {
    ion-toolbar {
      ion-title {
        font-weight: bold;
        color: #11535f;
      }
    }
  }

  ion-content {
    --background: #4fbdba;
  }

  .detail {
    padding: 1rem;
    border-radius: 10px;
  }

  .detail-body {
    width: 100%;
    height: 100%;
  }

  .drug-img {
    background: #ffffff;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .drug-img-box {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 60%;
    }
  }

  .detail-info {
    ul {
      list-style: none;
      padding: 0;

      li {
        border-radius: 10px;
        background: #ffffff;
        color: #11535f;
        padding: 1rem;
        margin-top: 1rem;
      }
    }
  }
}
