<ion-header>
  <ion-toolbar>
    <a href="/home">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="order-body">
    <div class="order-header">
      <h1>ข้อมูลรายการยา</h1>
    </div>

    <div class="order-list">
      <ion-list *ngFor="let data of orderData;">
        <ion-item href="/drug">
          <ion-label>
            <b> ออร์เดอร์ : </b>
            {{ data.orderNum}}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="addPhotoToGallery()">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
