<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login">
    <div class="login-header">
      <ion-icon name="person-circle"></ion-icon>
      <h1>DMS Delivery Tracking</h1>
    </div>

    <div class="login-input">
      <h2>Login</h2>
      <form>
        <div class="input username">
          <label for="username">
            <ion-icon name="person"></ion-icon> Username</label
          >
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
          />
        </div>

        <div class="input password">
          <label for="username">
            <ion-icon name="key"></ion-icon>
            Password</label
          >
          <input
            type="text"
            name="password"
            id="password"
            placeholder="Password"
          />
        </div>

        <!-- <button type="submit">Login</button> -->

        <ion-button href="/home">Login</ion-button>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <div class="login-footer">
        <img src="../../assets/img/dms-icon-dark.png" alt="dms-icon-dark" />
        <span>DMS Isolutions</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>
