$color1: #062226;
$color2: #11535f;
$color3: #36858a;
$color4: #4fbdba;
$color5: #aefeff;
$color6: #edffff;

ion-header {
  ion-toolbar {
    padding: 0 1rem;
  }
  a {
    font-size: 2rem;
    color: #11535f;
  }
}

ion-content {
  --background: #4fbdba;
}

.setting {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 10px;
  background: $color3;
  padding: 1rem;
}

.setting-header {
  h1 {
    color: #edffff;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }
}

ion-list {
  background: none;
}

ion-item {
  margin-top: 1rem;
  border-radius: 10px;

  --background: #edffff;
  --color: #11535f;
}

ion-icon {
  font-size: 2rem;
  color: #11535f;
}

ion-label {
  font-weight: bold;
  font-size: 2rem;
}
