$color1: #062226;
$color2: #11535f;
$color3: #36858a;
$color4: #4fbdba;
$color5: #aefeff;
$color6: #edffff;

ion-header {
  ion-toolbar {
    padding: 0 1rem;
  }
  a {
    font-size: 2rem;
    color: #11535f;
  }
}

ion-content {
  --background: #4fbdba;
}

.password {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 10px;
  background: #36858a;
  padding: 1rem;
}

.password-header {
  text-align: center;

  h1 {
    font-weight: bold;
    color: $color6;
  }
}

.password-form {
  margin-top: 2rem;

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #062226;
  }

  input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    margin-top: 0.5rem;
  }
}

.password-btn {
  display: flex;
  justify-content: center;

  margin-top: 2rem;

  button {
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    background: $color2;
    border-radius: 5px;
    color: $color6;
  }

  button:hover {
    background: $color6;
    color: $color2;
  }
}
