<ion-header>
  <ion-toolbar class="ion-padding-start">
    <a href="/home">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="password">
    <div class="password-header">
      <h1>Change Password</h1>
    </div>

    <div class="password-form">
      <form>
        <label for="current-password">Current Password</label>
        <input
          type="text"
          name="current-password"
          id="current-password"
          placeholder="Current Password"
        />

        <label for="new-password">New Password</label>
        <input
          type="text"
          name="new-password"
          id="new-password"
          placeholder="New Password"
        />

        <label for="confirm-password">Confirm Password</label>
        <input
          type="text"
          name="confirm-password"
          id="confirm-password"
          placeholder="Confirm Password"
        />

        <div class="password-btn">
          <button type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar> </ion-toolbar>
</ion-footer>
