$color1: #062226;
$color2: #11535f;
$color3: #36858a;
$color4: #4fbdba;
$color5: #aefeff;
$color6: #edffff;

.dashboard {
  width: 100vw;
  height: 100vh;
}

.dashboard-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.status-bar {
  margin: 1rem 0;
}

.card {
  border: none;
  cursor: pointer;
}

.card-body {
  color: #ffffff;

  p {
    font-weight: bold;
  }

  span {
    font-size: 4rem;
    font-weight: bold;
  }
}

.card-1 {
  background: #185a9d;
}

.card-2 {
  background: #21719e;
}

.card-3 {
  background: #28859f;
}

.card-4 {
  background: #2e95a0;
}

.card-5 {
  background: #37ada1;
}

.card-6 {
  background: #43cea2;
}

.search-bar {
  margin: 1rem 0;
}

.input-group {
  span {
    background: $color2;
    color: #ffffff;
    border: 2px solid $color2;
  }

  input {
    border: 2px solid $color2;
  }
}

.search-btn {
  background: $color2;
  border: none;
  border-radius: 10px;
  color: $color6;
  font-size: 1.2rem;
}

.search-btn:hover {
  background: $color3;
}

.show-btn {
  background: $color2;
  border: none;
  border-radius: 10px;
  color: $color6;
  font-size: 1.2rem;
  padding: 2rem 0;
}
.show-btn:hover {
  background: $color3;
}

.dashboard-table {
  padding-top: 0rem;
}

.table-scroll {
  width: 100%;
  max-height: 50vh;
  overflow: scroll;

  table {
    border-spacing: 0;
    width: 100%;
    empty-cells: show;
  }
}

.table-head {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-head {
  background: $color2;
  color: $color6;
  th {
    padding: 1rem;
  }
  th:nth-child(1) {
    text-align: center;
    width: 8%;
  }
  th:nth-child(2) {
    text-align: center;
    width: 12%;
  }
  th:nth-child(3) {
    text-align: center;
    width: 15%;
  }
  th:nth-child(4) {
    text-align: left;
    // width: 15%;
  }
  th:nth-child(5) {
    text-align: center;
    width: 15%;
  }
  th:nth-child(6) {
    text-align: center;
    width: 15%;
  }
  th:nth-child(7) {
    text-align: center;
    width: 12%;
  }
}

.table-body tr {
  td {
    padding: 0.5rem 1rem;
  }
  td:nth-child(1) {
    text-align: center;
  }
  td:nth-child(2) {
    text-align: center;
  }
  td:nth-child(3) {
    text-align: center;
  }
  td:nth-child(4) {
    text-align: left;
  }
  td:nth-child(5) {
    text-align: center;
  }
  td:nth-child(6) {
    text-align: center;
  }
  td:nth-child(7) {
    text-align: center;
  }
  td:nth-child(8) {
    text-align: center;
  }
}

.table-body tr:nth-child(odd) {
  background: $color6;
}

.table-body tr:nth-child(even) {
  background: $color5;
}

.table-body tr:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .table-scroll {
    table {
      width: 900px;
    }
  }
}
